[submodule ".zsh/plugins/robbyrussell/oh-my-zsh"]
	path = .zsh/plugins/robbyrussell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/plugins/zsh-users/zsh-completions"]
	path = .zsh/plugins/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/plugins/zsh-users/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/o-pikozh/xdg-basedirs"]
	path = .zsh/plugins/o-pikozh/xdg-basedirs
	url = https://github.com/o-pikozh/xdg-basedirs.git
