# zsh
.zhistory
*.zwc

# service API token
.config/asciinema/config
.config/dbxcli/auth.conf
.config/hub
.config/travis/config.yml
.ec2ssh
.local/share/token/*

# ignore
.config/dlv/.dbg_history
.config/codesign/*.cer
.config/codesign/*.key
.config/conda/envs
.config/ipython/profile_default/*
!.config/ipython/profile_default/ipython_config.py
